@page
@model CreateCustomerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="Customer.Name" /></div>
        <input type="submit" />
        <input type="submit" asp-page-handler="AddHundred" value="Add extra in id" />
    </form>
</body>
</html>